<?xml version="1.0" encoding="UTF-8"?>
<root>
<AttachmentFilePath><Excel>C:\SAP\rpa\Excel</Excel><PDF>C:\SAP\rpa\PDF</PDF></AttachmentFilePath>
<testPDF>C:\Temp\test.pdf</testPDF>
<openPDFErrPrefix>FAILURE: Opening </openPDFErrPrefix>
<openPDFErrSuffix> failed</openPDFErrSuffix>
<SAPLogon760><User>i516042</User><Password>123456</Password></SAPLogon760>
<NoMailLog>No mail received, sleep 60s and try again..</NoMailLog>
<mail><searchFolder>test</searchFolder><unknownFolder>unknown</unknownFolder><processedFolder>processed</processedFolder></mail>
</root>

